%section.admin
  %h1 Listing Blogs
  %table
    %thead
      %tr
        %th
        %th Title
        %th
    %tbody.sorts{ data: { update_url: sort_blogs_url } }
      - @blogs.each do |blog|
        = content_tag_for :tr, blog, class: ("gray" unless blog.visible?) do
          %td.img= image_tag blog.img_url(:icon).to_s
          %td= link_to blog.title, blog
          %td.actions
            = link_to 'Edit', edit_blog_path(blog)
            = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete'

  = link_to 'New Blog', new_blog_path