%section.admin

  %h1 listing users

  %table.admintable
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td{ class: 'actions' }
            = link_to 'Edit', edit_user_path(user)
            = link_to 'Destroy', user, method: :delete, class: "delete_btn", data: {confirm: 'Are you sure?'}, class: 'delete'

  .actions
    = link_to 'Back', admin_path
    = link_to 'New User', new_user_path