!!! 5
%html

  %head

    %title Jerkface v2
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags 
    %meta{ name: 'viewport', content: 'initial-scale=1, user-scalable=no' }

  %body
    .container{ role: 'main'}

      %header.header
        %h1= link_to 'Jerkface', root_url
        %nav.nav
          %ul#nav-list
            %li.nav-link= link_to 'Work', work_path, class: cp(artworks_path)
            %li.nav-link= link_to 'Instagram', instagram_path, class: cp(instagram_path)
            %li.nav-link= link_to 'Abstract', abstract_path, class: cp(abstract_path)
            %li.nav-link= link_to 'Contact', contact_path, class: cp(contact_path)

      .content(data-pjax-container)
        - if notice
          %p.notice= notice
        = yield

    %footer.footer
      %p &copy; jerkface 2015