!!! 5
%html

  %head

    %title Jerkface v2
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tags 
    %meta{ name: 'viewport', content: 'initial-scale=1, user-scalable=no' }

  %body
    .container{ role: 'main'}

      %header.header
        %h1= link_to 'Jerkface', root_url
        %nav.nav
          %ul#nav-list
            // %li.nav-link.admin= link_to 'ADMIN', '/admin', class: cp('/admin')
            %li.nav-link= link_to 'Home', root_url, class: cp(root_url)
            %li.nav-link= link_to 'Work', work_path, class: cp(work_path)
            %li.nav-link= link_to 'Abstract', abstract_path, class: cp(abstract_path)
            %li.nav-link= link_to 'Contact', contact_path, class: cp(contact_path)
            - if session[:user_id]
              %li.nav-link= link_to 'Admin', admin_path, class: cp(admin_path)

      .content(data-pjax-container)
        - if notice
          %p.notice= notice
        = yield

    %footer.footer
      %p &copy; jerkface 2015

    = javascript_include_tag 'application'